<div class="container">
  <div class="hero-unit">
	   <h1>Welcome to Visualis!</h1>
  		<p>
  			Online software for developing dashboards and reports. Simple and intuitive.
  		</p>

  		<p>
  			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>  
  		</p>
  </div>
</div>

