<div class="hero-unit">
	<h1>Welcome to Visualis!</h1>
	<p>
		Online software for developing dashboards
	</p>

	<p>
		Simple and intuitive 
	</p>


	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>  
	</p>
</div>


